<a href="https://colab.research.google.com/github/yirouleh/cs167notes/blob/main/Day08_ENTROPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import math
# here's the syntax for a log(Base 2)
for i in [.5,1,2,4,8,16,32,64]:
    print("log base 2 of", i, "is", math.log2(i))

log base 2 of 0.5 is -1.0
log base 2 of 1 is 0.0
log base 2 of 2 is 1.0
log base 2 of 4 is 2.0
log base 2 of 8 is 3.0
log base 2 of 16 is 4.0
log base 2 of 32 is 5.0
log base 2 of 64 is 6.0

In [3]:
def entropy(percentage_list):
    #input: percentage_list consists of float values that sum to 1.0 
    #return: calculation of entropy for input percentages
    result = 0
    for percentage in percentage_list:
        if percentage != 0:
            result += -percentage*math.log2(percentage)
    return result

In [4]:
import pandas
import numpy
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
restaurant = pandas.read_csv('/content/drive/MyDrive/CS167/datasets/restaurant.csv')
restaurant

    alt  bar  fri  hun   pat price rain  res     type    est target
0   Yes   No   No  Yes  Some   $$$   No  Yes   French   0-10    Yes
1   Yes   No   No  Yes  Full     $   No   No     Thai  30-60     No
2    No  Yes   No   No  Some     $   No   No   Burger   0-10    Yes
3   Yes   No  Yes  Yes  Full     $   No   No     Thai  10-30    Yes
4   Yes   No  Yes   No  Full   $$$   No  Yes   French    >60     No
5    No  Yes   No  Yes  Some    $$  Yes  Yes  Italian   0-10    Yes
6    No  Yes   No   No  None     $  Yes   No   Burger   0-10     No
7    No   No   No  Yes  Some    $$  Yes  Yes     Thai   0-10    Yes
8    No  Yes  Yes   No  Full     $  Yes   No   Burger    >60     No
9   Yes  Yes  Yes  Yes  Full   $$$   No  Yes  Italian  10-30     No
10   No   No   No   No  None     $   No   No     Thai   0-10     No
11  Yes  Yes  Yes  Yes  Full     $   No   No   Burger  30-60    Yes

In [7]:
restaurant[['hun', 'target']].sort_values('hun')

    hun target
2    No    Yes
4    No     No
6    No     No
8    No     No
10   No     No
0   Yes    Yes
1   Yes     No
3   Yes    Yes
5   Yes    Yes
7   Yes    Yes
9   Yes     No
11  Yes    Yes

In [ ]:
entropy([5/7, 2/7, 2/4])

1.5

In [ ]:
#example of a calculation of entropy
entropy([2/6,4/6])

0.9182958340544896

In [ ]:
#Friday
print(entropy([2/5,3/5]))
print(entropy([4/7,3/7]))

0.9709505944546686
0.9852281360342515

In [ ]:
#Friday expected entropy
5/12*entropy([2/5,3/5]) + 7/12*entropy([4/7,3/7])

0.979279160376092

In [ ]:
#Price expected entropy
7/12*entropy([3/7,4/7]) + 2/12*entropy([0/2,2/2])+3/12*entropy([1/3,2/3])

0.8042903712002691

In [ ]:
#Res expected entropy
5/12*entropy([3/5,2/5]) + 7/12*entropy([3/7,4/7])

0.979279160376092

In [10]:
entropy_after = (7/12)*entropy([5/7, 2/7]) + (5/12)*entropy([1/5, 4/5])
print(entropy_after)

information_gain = 1-entropy_after
print("information gain = ", information_gain)

0.8042903712002691
information gain =  0.19570962879973086

In [11]:
#class example for replublican & democrat - B3
entropy_before1 = entropy([2/5, 3/5])
print(entropy_before1)

entropy_after1 = (1/5)*entropy([1,0]) + (4/5)*entropy([1/4,3/4])
print(entropy_after1)

information_gain1 = entropy_before1 - entropy_after1
print("information gain = ", information_gain1)

0.9709505944546686
0.6490224995673063
information gain =  0.3219280948873623