<a href="https://colab.research.google.com/github/yirouleh/cs167notes/blob/main/notebook1_Leh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook #1: Python, Pandas, and Pokemon, Oh My!

**Due 2/16 by 11:59pm**

The goal of this notebook is to become comfortable with using `python` and `pandas` as well as grabbing specific slices of the dataset. 

Start off by importing the data as we did in `practice-assignment`. Make sure the data is in your Google Drive, and that you update the path to point to where you have your data saved in Drive.

Author: <b>Yi Rou Leh</b><br>
Date: September 7, 2021

In [3]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
#import the data:

#make sure the path on the line below corresponds to the path where you put your dataset.
poke = pd.read_csv('/content/drive/MyDrive/CS167/datasets/pokemon.csv')
poke.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

## Exercise #1: 
Print out all of the possible values for the Type 1 of pokemon.
- *Hint: I'm looking for each possible primary type to be ouput once, not a list of primary type of each pokemon. For example, if I tossed a coin 3 times and got Heads, Tails, Heads, the possible values of the coin flip are Heads and Tails. There is a function for this.*

In [31]:
print(poke['Type 1'].unique())

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']

## Exercise #2:
Create a subset of data representing pokemon whose primary type is **Fire** ðŸ”¥ , and the second type is **Flying** ðŸ¦…. Save this DataFrame to the variable name `fire_flying_pokemon`. Display the first 5 lines of this subset.

In [8]:
fire_flying_pokemon = poke[(poke['Type 1'] == 'Fire') & (poke['Type 2'] == 'Flying')]
fire_flying_pokemon.head()

       #                       Name Type 1  ... Speed  Generation  Legendary
6      6                  Charizard   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
158  146                    Moltres   Fire  ...    90           1       True
270  250                      Ho-oh   Fire  ...    90           2       True
730  662                Fletchinder   Fire  ...    84           6      False

[5 rows x 13 columns]

## Exercise #3
Using `fire_flying_pokemon`, what is the median **Attack** of Fire Flying Pokemon?

In [10]:
fire_flying_pokemon.Attack.median()

92.0

## Exercise #4
Create a subset with only pokemon from Generation I. Include 5 columns, the `Generation`, `Name`, `Type 1`, `Type 2`, and `Total`. 
  - *For an extra challenge, see if you can do this in one line.*

In [13]:
first_gen_pokemon = poke[poke['Generation'] == 1][['Generation', 'Name', 'Type 1', 'Type 2', 'Total']]
first_gen_pokemon

     Generation                   Name   Type 1    Type 2  Total
0             1              Bulbasaur    Grass    Poison    318
1             1                Ivysaur    Grass    Poison    405
2             1               Venusaur    Grass    Poison    525
3             1  VenusaurMega Venusaur    Grass    Poison    625
4             1             Charmander     Fire       NaN    309
..          ...                    ...      ...       ...    ...
161           1              Dragonite   Dragon    Flying    600
162           1                 Mewtwo  Psychic       NaN    680
163           1    MewtwoMega Mewtwo X  Psychic  Fighting    780
164           1    MewtwoMega Mewtwo Y  Psychic       NaN    780
165           1                    Mew  Psychic       NaN    600

[166 rows x 5 columns]

## Exercise #5

Which primary type of pokemon is the overall strongest? (not looking for philsophical debates here, I'm looking at the average of the 'Total' column, grouped by Type--so Fire v Water v Grass etc.). 
- *Hint: Don't forget to actually answer the question here...*

In [17]:
type1_total = poke[['Type 1', 'Total']]
type1_total.groupby('Type 1').mean().sort_values(by=['Total'], ascending=False)

               Total
Type 1
Dragon    550.531250
Steel     487.703704
Flying    485.000000
Psychic   475.947368
Fire      458.076923
Rock      453.750000
Dark      445.741935
Electric  443.409091
Ghost     439.562500
Ground    437.500000
Ice       433.458333
Water     430.455357
Grass     421.142857
Fighting  416.444444
Fairy     413.176471
Normal    401.683673
Poison    399.142857
Bug       378.927536

The Dragon Primary Type of Pokemon is the overall strongest among other types because it has the highest average of Total.

## Exercise #6
**Do something cool**. Using the Pokemon dataset, get creative and show me something about the dataset. Use a text cell to explain what you did. 
 - *Need some help gettting started here? Try asking a question about the dataset and see if you can use Python and Pandas to answer the question*

In [46]:
# How many Legendary Pokemons are in each of the Types? (Type 1)
Legendary_pokemon = poke[poke.Legendary == True]
Legendary_pokemon.groupby('Type 1').size().sort_values(ascending=False)

Type 1
Psychic     14
Dragon      12
Fire         5
Water        4
Steel        4
Rock         4
Ground       4
Electric     4
Grass        3
Normal       2
Ice          2
Ghost        2
Flying       2
Dark         2
Fairy        1
dtype: int64

I created a subset with only Legendary pokemons, and calculated the number of Legendary pokemons of each Type (I used Type 1). I found out that most of the legendary pokemons are Psychic type, which we have 14 of them, following by the Dragon type with 12 legendary pokemons. Fairy type has the least legendary pokemons compared to the other types.