<a href="https://colab.research.google.com/github/yirouleh/cs167notes/blob/main/Notebook2_starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook \#2

**Name**: Yi Rou Leh



## Load in the data:
You'll notice that there are a lot of columns here. We're going to work with a subset of these columns, not the entire dataset.

In [1]:
import pandas
import numpy
from google.colab import drive 
drive.mount('/content/drive')
data = pandas.read_csv('/content/drive/MyDrive/CS167/datasets/vehicles.csv')
pandas.set_option('display.max_columns', 100)
data.head()

Mounted at /content/drive

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,co2,co2A,co2TailpipeAGpm,co2TailpipeGpm,comb08,comb08U,combA08,combA08U,combE,combinedCD,combinedUF,cylinders,displ,drive,engId,eng_dscr,feScore,fuelCost08,fuelCostA08,fuelType,fuelType1,ghgScore,ghgScoreA,highway08,highway08U,highwayA08,highwayA08U,highwayCD,highwayE,highwayUF,hlv,hpv,id,lv2,lv4,make,model,mpgData,phevBlended,pv2,pv4,range,rangeCity,rangeCityA,rangeHwy,rangeHwyA,trany,UCity,UCityA,UHighway,UHighwayA,VClass,year,youSaveSpend,guzzler,trans_dscr,tCharger,sCharger,atvType,fuelType2,rangeA,evMotor,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4.0,2.0,Rear-Wheel Drive,9011,(FFS),-1,1850,0,Regular,Regular Gasoline,-1,-1,25,0.0,0,0.0,0.0,0.0,0.0,0,0,1,0,0,Alfa Romeo,Spider Veloce 2000,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,23.3333,0.0,35.0000,0.0,Two Seaters,1985,-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,12.0,4.9,Rear-Wheel Drive,22020,(GUZZLER),-1,3500,0,Regular,Regular Gasoline,-1,-1,14,0.0,0,0.0,0.0,0.0,0.0,0,0,10,0,0,Ferrari,Testarossa,N,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,11.0000,0.0,19.0000,0.0,Two Seaters,1985,-10250,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,329.148148,27,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,Front-Wheel Drive,2100,(FFS),-1,1450,0,Regular,Regular Gasoline,-1,-1,33,0.0,0,0.0,0.0,0.0,0.0,19,77,100,0,0,Dodge,Charger,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,29.0000,0.0,47.0000,0.0,Subcompact Cars,1985,0,NaN,SIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,8.0,5.2,Rear-Wheel Drive,2850,NaN,-1,3500,0,Regular,Regular Gasoline,-1,-1,12,0.0,0,0.0,0.0,0.0,0.0,0,0,1000,0,0,Dodge,B150/B250 Wagon 2WD,N,False,0,0,0,0.0,0.0,0.0,0.0,Automatic 3-spd,12.2222,0.0,16.6667,0.0,Vans,1985,-10250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,467.736842,19,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,66031,"(FFS,TRBO)",-1,2550,0,Premium,Premium Gasoline,-1,-1,23,0.0,0,0.0,0.0,0.0,0.0,0,0,10000,0,14,Subaru,Legacy AWD Turbo,N,False,0,90,0,0.0,0.0,0.0,0.0,Manual 5-spd,21.0000,0.0,32.0000,0.0,Compact Cars,1993,-5500,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

## Exercise #1: 
**Work with the right subset**: You're not going to work with the whole data set, just the cars with `"Regular"` listed in the `"fuelType"` column. So, to start, make a subset of the original data.

In [4]:
#subset that contains cars with regular fuel type
#with only a few predictors instead of all columns

subset = data[data.fuelType == 'Regular'][['year', 'cylinders', 'displ', 'comb08']]
subset

       year  cylinders  displ  comb08
0      1985        4.0    2.0      21
1      1985       12.0    4.9      11
2      1985        4.0    2.2      27
3      1985        8.0    5.2      11
5      1993        4.0    1.8      22
...     ...        ...    ...     ...
42097  1993        4.0    1.9      25
42098  1993        4.0    2.2      22
42099  1993        4.0    2.2      23
42100  1993        4.0    2.2      21
42101  1993        4.0    2.2      21

[26863 rows x 4 columns]

## Exercise #2: 
**Check for null values**: If you have a null target value, you will need to throw that example out. 

If you have a null predictor value, you can either fill them in with something (like the mean/median) or you can drop those rows from the data set. Useful functions here are `isna()`, `any()`, `fillna()`, `value_counts()` and `dropna()`. If you're not sure what these do, look them up in the [pandas documentation](https://pandas.pydata.org/docs/).

If you've tried the functions above, but your data still has missing values, you probably need to do one of the following thigns:
-  Assign the results of the above functions to a variable, `clean_data = original_data.dropna()`,
- use the `inplace=True` parameter when you call the above functions.

Describe in a markup cell what you decided to do with the null data and why.

In [5]:
# Check if there's any missing data
subset.isna().any()

#from here, we know that cylinders and displ has missing values

year         False
cylinders     True
displ         True
comb08       False
dtype: bool

In [9]:
#fill NaN with mean in columns 'cylinders' and 'displ'
subset.cylinders.fillna(subset.cylinders.mean(), inplace = True)
subset.displ.fillna(subset.displ.mean(), inplace = True)

#check missing values again
subset.isna().any()

(26863, 4)

### Describe what you did:
After determining which columns are having missing values using isna() and any() functions, we know that 'cylinders' and 'displ' columns are replaced with the mean of the columns using the fillna() function.

The 'year' column and the target variable 'comb08' do not contain missing values.

## Exercise #3:
Write up a k-nearest-neighbors function like the one you made for the iris data set in class. It should be able to make mpg ("comb08") predictions for new cars based on the year, cylinders, and displacement. You should also be able to specify what you want to use as k.

Pay special attention to whether this problem is a classification or a regression, and how the answer to that question may change the output of your model.

In [14]:
#k-nearest-neighbors function
def knn(vechicle, data, k):
  data['distance_to_new'] = numpy.sqrt(
      (vechicle['year']-data.year)**2
      +(vechicle['cylinders']-data.cylinders)**2
      +(vechicle['displ']-data.displ)**2)
  
  sorted_data = data.sort_values(['distance_to_new'])
  return sorted_data.iloc[0:k]['comb08'].mean()

## Exercise #4: 
Demonstrate that your function works by making up some new values for hypothetical cars and using your function to display the predicted mpg ("comb08") for that car.

In [18]:
#random example of a vechicle 
vechicle = {}
vechicle['year'] = 1998
vechicle['cylinders'] = 8
vechicle['displ'] = 6.3

#print predicted mpg(comb08)
print("Predicted mpg: ", knn(vechicle, subset, 7))

Predicted mpg:  12.857142857142858

## Exercise #5
Make a copy of the data and normalize the training data using Z-score-- `copy()` will be useful here. Predict the mpg of a particular car using your k-nearest-neighbors function with both the normalized and non-normalized training data. Compare your results. Use a markup cell to describe and explain the differences in a few sentences.

In [19]:
# normalize a copy of the data
norm_subset = subset.copy()

#year
#calculate mean and std
y_mean = norm_subset['year'].mean()
y_std = norm_subset['year'].std()
norm_subset['year'] = (norm_subset['year'] - y_mean)/y_std

c_mean = norm_subset['cylinders'].mean()
c_std = norm_subset['cylinders'].std()
norm_subset['cylinders'] = (norm_subset['cylinders'] - c_mean)/c_std

d_mean = norm_subset['displ'].mean()
d_std = norm_subset['displ'].std()
norm_subset['displ'] = (norm_subset['displ'] - d_mean)/d_std

norm_subset.head()

       year  cylinders     displ  comb08  distance_to_new
0 -1.261248  -0.903429 -0.877219      21        14.264992
1 -1.261248   4.373963  1.401850      11        13.673332
2 -1.261248  -0.903429 -0.720042      27        14.205985
3 -1.261248   1.735267  1.637616      11        13.046455
5 -0.536274  -0.903429 -1.034396      22         7.826238

In [24]:
#non-normalized example
vechicle = {}
vechicle['year'] = 1998
vechicle['cylinders'] = 8
vechicle['displ'] = 6.3

#normalized example
z_vechicle = {}
z_vechicle['year'] = (vechicle['year'] - y_mean)/y_std
z_vechicle['cylinders'] = (vechicle['cylinders'] - c_mean)/c_std
z_vechicle['displ'] = (vechicle['displ'] - d_mean)/d_std

#5-NN
print("Predicted mpg with non-normalized data: ", knn(vechicle, subset, 5),
      "\nPredicted mpg with normalized data: ", knn(z_vechicle, norm_subset, 5))

Predicted mpg with non-normalized data:  12.8
Predicted mpg with normalized data:  12.2